extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .product-detail
    .container.my-5
      .row
        .col-6
          .inner-thumb
            img(src=product.thumbnail, alt=product.title)
        .col-6
          h1(class="inner-title") #{product.title}

          if (product.category)
            div(class="inner-category")
              span Danh mục: 
              a(href=`/products/${product.category.slug}`) #{product.category.title}

          if (product.priceNew)
            div(class="inner-price-new") Giá mới: #{product.priceNew}$

          if (product.price)
            div(class="inner-price-old") #{product.price}$

          if (product.discountPercentage)
            div(class="inner-percent") Giảm tới <span>#{product.discountPercentage}%</span>

          if (product.stock)
            div(class="inner-stock") Còn lại <span>#{product.stock}</span> sản phẩm

          form(
            action=`/cart/add/${product.id}`
            method="POST"
          )
            span Số lượng mua
            #buy-amount
              button.btn--card.btn--card__minus(onclick="handleMinus")
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                </svg>

              input#amount(type="text" name="amount" value="1")

              button.btn--card.btn--card__plus
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>

            input(
              class="form-control mb-2"
              type="number"
              name="quantity"
              value="1"
              min="1"
              max=product.stock
            )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Thêm vào giỏ hàng
    hr
    .container.my-5
      .row
        .col-12
          +box-head("Mô tả sản phẩm")
          .inner-desc !{product.description}
