extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Đăng nhập
        form(
          action=`${prefixAdmin}/auth/login`
          method="POST"
        )
          .form-login
            div(class="form-group")
              label(for="email") Email
              input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              )
            div(class="form-group")
              label(for="password") Mật khẩu
              input(
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              )
            div(class="form-group")
              button(
                type="submit"
                class="btn btn-primary btn-block"
              ) Đăng nhập
  

  .container
    section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
      .container
        .row.justify-content-center
          .col-lg-4.col-md-6.d-flex.flex-column.align-items-center.justify-content-center(class="shadow-lg p-3 mb-5 bg-body rounded")
            .d-flex.justify-content-center.py-4
              h1(style='color: #000080;') Đăng nhập

            form(
              action=`${prefixAdmin}/auth/login`
              method="POST"
            )
              .card.mb-3
                .card-body
                  .pt-4.pb-2
                    h5.card-title.text-center.pb-0.fs-4 Login to Your Account
                    p.text-center.small Enter your username &amp; password to login
                  form.row.g-3.needs-validation(novalidate='')
                    .col-12
                      label.form-label(for='email') Email
                      .input-group.has-validation
                        input#email.form-control(type='text' name='email' required)
                        .invalid-feedback Please enter your email.
                    .col-12.mt-2
                      label.form-label(for='password') Password
                      input#password.form-control(type='password' name='password' required)
                      .invalid-feedback Please enter your password!
                    .col-12.mt-4
                      button.btn.btn-primary.w-100(type='submit') Login
