extends ../../layouts/default.pug
block main
  .m-2
    h1 Chỉnh sửa nhóm quyền
    form.m-2(
    action=`${prefixAdmin}//edit/${category.id}?_method=PATCH`
    id="form-edit-product"
    method="POST"
    enctype="multipart/form-data"
  )