mixin formChangeMulti()
    form(
        action=`${prefixAdmin}/products/change-multi?_method=PATCH`
        method="post"
        form-change-multi
    ) 
        .d-flex.align-items-start
            .form-group.ms-1
                select(name="type" class="form-control form-select")
                    option(value="active") Hoạt động
                    option(value="inactive") Dừng hoạt động
            .form-group.ms-1
              input(
                type="text"
                name="ids"
                value=""
                class="form-control d-none"
                
              )
            button(type="submit" class="btn btn-primary ms-1") Áp dụng