mixin table-tree(items, level = 1)
  each item, index in items
    - const prefix = Array(level + 1).join("-- ")
    tr 
      td 
        input(
          class="form-check-input"
          type="checkbox"
          name="id"
          value=item.id
        )
        
      td #{item.index}

      td
        img(
          class="img-products"
          src=item.thumbnail
          alt=item.title
          width="100px"
          height="70px"
        )
      td #{prefix}#{item.title}

      td
        input(
          type="number"
          value=item.position
          style="width: 60px"
          min="1"
          name="position"
        )

      td
        if(role.permissions.includes("products-category_edit"))
          if(item.status == "active")
            a(
              href="javascript:;" 
              class="badge bg-success fs-6"
              data-status=item.status
              data-id=item.id
              link-change-status
              ) Hoạt động 
          else
            a(
              href="javascript:;" 
              class="badge bg-danger fs-6"
              data-status=item.status
              data-id=item.id
              link-change-status
              ) Dừng hoạt động
        else
          if(item.status == "active")
            a(
              href="javascript:;" 
              class="badge bg-success fs-6"
              ) Hoạt động 
          else
            a(
              href="javascript:;" 
              class="badge bg-danger fs-6"
              ) Dừng hoạt động
      td
      if(role.permissions.includes)
        a(
          class="btn btn-warning btn-sm"
          href=`${prefixAdmin}/products-category/edit/${item.id}`
        ) Sửa
        button(
          class="btn btn-danger btn-sm ms-1" 
          data-id=item.id
          button-delete
        ) Xóa
      td
        a(
          class="btn btn-sm btn-info"
          href=`${prefixAdmin}/products-category/detail/${item.id}`
        ) Xem
    if item.children && item.children.length > 0
      +table-tree(item.children, level + 1)