//- extends ../../layouts/default.pug

//- block main
//-   h1(class="mb-4 profile--name fs-2") Profile
//-   .detail
//-     .profile--info
//-       .profile--info__img
//-         if (user.avatar)
//-           img(src=user.avatar width="150px" class="rounded-circle mt-3")
//-         else
//-           img(src="/images/avatar-default.jpg" width="150px" class="rounded-circle mt-3")
//-       .profile--info__name
//-         if (user.fullName)
//-           span.fs-3 #{user.fullName}
//-       .profile--role
//-         if (role.title)
//-           span #{role.title}
//-     a(
//-         href=`${prefixAdmin}/my-account/edit`
//-         class="btn btn-primary"
//-       ) Chỉnh sửa thông tin


extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  h1(class="mb-4") Cập nhật thông tin cá nhân

  +alert-success(5000)
  +alert-error(5000)

  form(
    action=`${prefixAdmin}/my-account/edit?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="fullName") Họ tên *
      input(
        type="text"
        class="form-control"
        id="fullName"
        name="fullName"
        required
        value=user.fullName
      )
    div(class="form-group")
      label(for="email") Email *
      input(
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        value=user.email
      )
    div(class="form-group")
      label(for="password") Mật khẩu
      input(
        type="password"
        class="form-control"
        id="password"
        name="password"
      )
    div(class="form-group")
      label(for="phone") Số điện thoại
      input(
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        value=user.phone
      )
    .form-group.mb-2(upload-image)
      label(for="avatar") Ảnh đại diện
      input.form-control(
        type="file"
        class="form-control-file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      img(
        src=user.avatar
        upload-image-preview
        class="image-preview"
      )
    div(class="form-group p-2")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật