extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  if(role.permissions.includes("products-category_create"))
    +alert-error(5000)
    h1(class="mb-4 ms-2") Thêm mới danh mục sản phẩm
    form.m-2(
      action=`${prefixAdmin}/products-category/create`
      method="POST"
      enctype="multipart/form-data"
    )
      .form-group.mb-2 
        label(for="title") Tiêu đề
        input.form-control(
          type="text"
          id="title"
          name="title"
          required
        )

      .form-group.mb-2 
        label(for="parent_id") Danh mục cha
        select.form-control.form-select(
          type="text"
          id="parent_id"
          name="parent_id"
        )
          option(value="" disabled="disabled" selected="selected") Chọn danh mục cha
          if(records)
            +select-tree(records)

      .form-group.mb-2
        label(for="desc") Mô tả
        textarea.form-control.textarea-mce(
          id="desc"
          name="description"
          rows="5"
          
        )
    
      .form-group.mb-2(upload-image)
        label(for="thumbnail") Ảnh
        input.form-control(
          type="file"
          class="form-control-file"
          id="thumbnail"
          name="thumbnail"
          accept="image/*"
          upload-image-input
        )
        img(
          src=""
          upload-image-preview
          class="image-preview"
        )
        

      .form-group.mb-2 
        label(for="position") Vị trí
        input.form-control(
          type="number"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          min="1"
        )
      .form-group.form-check.form-check-inline.mb-2
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      .form-group.form-check.form-check-inline.mb-2
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động 
      .form-group.mb-2 
        button.btn.btn-primary(type="submit") Tạo mới

  script(src="/admin/js/products.js")

  //- public-js