extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  h1(class="mb-4 ms-2") Chỉnh sửa sản phẩm
  form.m-2(
    action=`${prefixAdmin}/products-category/edit/${productCategory.id}?_method=PATCH`
    id="form-edit-product"
    method="POST"
    enctype="multipart/form-data"
  )
    .form-group.mb-2 
      label(for="title") Tiêu đề
      input.form-control(
        type="text"
        id="title"
        name="title"
        required
        value=product.title
      )
    .form-group.mb-2
      label(for="desc") Mô tả
      textarea.form-control(
        id="desc"
        name="description"
        rows="5"
        value=product.description
      ) #{product.description}

    .form-group.mb-2(upload-image)
      label(for="thumbnail") Ảnh
      input.form-control(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img(
        src=product.thumbnail
        upload-image-preview
        class="image-preview"
      )
      

    .form-group.mb-2 
      label(for="position") Vị trí
      input.form-control(
        type="number"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        value=product.position
        min="1"
      )
    .form-group.form-check.form-check-inline.mb-2
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(product.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    .form-group.form-check.form-check-inline.mb-2
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(product.status == "active" ? false : true)
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động 
    .form-group.mb-2 
      button.btn.btn-primary(type="submit") Cập nhật
  script(src="/admin/js/products.js")
  //- public-js