extends ../../layouts/default.pug

block main
  h1(class="mb-4") Thêm mới sản phẩm
  form.m-2(
    action=`${prefixAdmin}/products/create`
    id="form-create-product"
    method="POST"
  )
    .form-group 
      label(for="title") Tiêu đề
      input.form-control(
        type="text"
        id="title"
        name="title"
        required
      )
    .form-group
      label(for="desc") Mô tả
      textarea.form-control(
        id="desc"
        name="description"
        rows="5"
      )
    div(class="form-group")
      label(for="price") Giá
      input(
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="0"
        min="0"
      )
    div(class="form-group")
      label(for="discount") % Giảm giá
      input(
        type="number"
        class="form-control"
        id="discount"
        name="discountPercentage"
        value="0"
        min="0"
      )
    div(class="form-group")
      label(for="stock") Số lượng
      input(
        type="number"
        class="form-control"
        id="stock"
        name="stock"
        value="0"
        min="0"
      )
    .form-group 
      label(for="thumbnail") Ảnh
      input.form-control(
        type="file"
        id="thumbnail"
        name="thumbnail"
        class="form-control-file"
        accept="images/*"
        upload-image-input
      )
      img.image-preview(
        src=""
        upload-image

      )
    .form-group 
      label(for="position") Vị trí
      input.form-control(
        type="number"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        min="1"
      )
    .form-group.form-check.form-check-inline
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    .form-group.form-check.form-check-inline
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động 
    .form-group 
      button.btn.btn-primary(type="submit") Tạo mới
  script(src="/admin/js/product.js")
  //- public-js