extends ../../layouts/default.pug
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/form-change-multi

block main
  h1 Danh sách sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filter(filterStatus)
        .col-6
          +search(keyword)
  .card.mb-3
    .card-header Danh sách
      .card-body
        +form-change-multi()
        form(
          action=`${prefixAdmin}/products/change-multi?_method=PATCH`
          method="post"
          form-change-multi
        ) 
          .d-flex.align-items-start
            .form-group.ms-1
              select(name="type" class="form-control form-select")
                option(value="active") Hoạt động
                option(value="inactive") Dừng hoạt động
            .form-group.ms-1
              input(
                type="text"
                name="ids"
                value=""
                class="form-control d-none"
                
              )
            button(type="submit" class="btn btn-primary ms-1") Áp dụng

        table.table.table-hover.table-sm.mt-4(
          checkbox-multi
        )
          thead
            tr
              th 
                input(class="form-check-input" type="checkbox" name="checkAll")
              th STT
              th Hình ảnh
              th Tiêu đề
              th Giá
              th Trạng thái
              th Hành động

          tbody
            each item, index in products
              tr 
                td 
                  input(
                    class="form-check-input"
                    type="checkbox"
                    name="id"
                    value=item.id
                  )
                  
                td #{index + 1}

                td
                  img(
                    class="img-products"
                    src=item.thumbnail
                    alt=item.title
                    width="100px"
                    height="70px"
                  )
                td #{item.title}

                td #{item.price}$

                td
                  if(item.status == "active")
                    a(
                      href="javascript:;" 
                      class="badge bg-success fs-6"
                      data-status=item.status
                      data-id=item.id
                      link-change-status
                      ) Hoạt động 
                  else
                    a(
                      href="javascript:;" 
                      class="badge bg-danger fs-6"
                      data-status=item.status
                      data-id=item.id
                      link-change-status
                      ) Dừng hoạt động
                td
                  button(class="btn btn-warning btn-sm") Sửa
                  button(class="btn btn-danger btn-sm ms-1") Xóa
  
  +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`
  ) 

  script(src="/admin/js/products.js") 
    
  
       


